*{
    padding:0px;
    margin:0px;
}
body{
    background-color: antiquewhite;
}
button{

    margin-top: 30px;
    margin-left: 33%;
    height: 40px;
    width:190px;
    cursor: pointer;
    font-size: larger;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.box{
    width:500px;
    height:400px;
    background-color: rgb(139, 156, 151);
    margin:auto;
    border-radius: 1rem;
    margin-top: 50px;

}
#id{
    font-size: 90px;
    color: azure;
    margin-left: 20px;
    
}
#output{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    word-spacing: 1px;
    line-height: 25px;
    padding: 2rem;
    margin-top: 0px;
    
}